<div id="entete"><br>
    Voici la liste de tous les sportifs professionnels inscrit dans notre association.
</div>
<br>
<div>
    <div *ngFor="let s of sportifs">
            <div class="container">
                <div><span id="attribut">ID</span> : {{s.idSportif}}</div>
                <div><span id="attribut">NOM</span> : {{s.nom}}</div>
                <div><span id="attribut">PRENOM</span> : {{s.prenom}}</div>
                <div><span id="attribut">SEXE</span> : {{s.sexe}}</div>
                <div><span id="attribut">AGE</span> : {{s.age}}</div>
                <div *ngIf="s.sport.jouer" ><span id="attribut">Joue à</span> : {{s.sport.jouer}}</div>
                <div *ngIf="s.sport.entrainer"><span id="attribut">Entraine</span> : {{s.sport.entrainer}}</div>
                <div *ngIf="s.sport.arbitrer"><span id="attribut">Arbitre</span> : {{s.sport.arbitrer}}</div>
            </div>
        <hr>
    </div>
</div>