<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Asso'Sportive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Nos gymnases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos sportifs</a>
        </li>
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Vous cherchez quelque chose ?
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Un gymnase</a>
                  <a class="dropdown-item" href="#">Un sportif</a>
                  <a class="dropdown-item" href="#">Une séance</a>
                  <a class="dropdown-item" href="#">Toutes les séances</a>
                  <a class="dropdown-item" href="#">Une séance</a>
                </div>
              </li>
      </ul>
      <span class="navbar-text">
        Ici, on transpire le bien être !
      </span>
    </div>
  </nav>