<br>
<div id="entete">
    Bienvenue sur le site de notre association, Asso'Sportive.
</div>
<br>
<div class="welcome">
    <ul>
        <li>Ce site est une fenêtre sur les services que nous proposons. Vous pourrez y retrouver toutes les informations dont vous avez besoin.</li>
        <li>Tout les détails de nos gymnases partenaires (surfaces, cours disepensés, adresse, horaires ...)</li>
        <li>Les informations de nos sportifs bénévols</li>
    </ul>
</div>
<footer>
    <div>
        Une question ? Une information que vous ne trouvez pas ? N'hésitez pas à nous joindre par mail à 911@lassosportive.fr
    </div>
</footer>